.seat {
    width: 7.1%;
    aspect-ratio: 1 / 1;
    background-color: rgb(148, 191, 144);
    border: solid 2px;
    border-radius: 4px;
    margin:.25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.seat2 {
    width: 7.1%;
    aspect-ratio: 1 / 1;
    background-color: rgb(157, 99, 74);
    border: solid 2px;
    border-radius: 4px;
    margin:.25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seatbooked {
    width: 7.1%;
    aspect-ratio: 1 / 1;
    background-color: rgb(236, 102, 102);
    border: solid 2px;
    border-radius: 4px;
    margin:.25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat:hover{
    background-color: aliceblue;
    transform: scale(1.05);    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

