*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navbar{
    
    height: 4vh;
    width: 100vw;
    background-color: aliceblue;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    /* padding: 5px; */
    /* border: solid 2px; */
    margin: 0px;
    padding: 0px;
}

.logocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(68, 60, 205)
}

