.navbar{
    box-sizing: border-box;
    max-height: 4vh;
    max-width: 100vw;
    background-color: aliceblue;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    padding: 5px;
    /* border: solid 2px; */
    margin: 0px;
}

.logocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(68, 60, 205)
}

/* @media (min-width: 1024px) and (max-width: 1600px) {
   .navbar{
    box-sizing: border-box;
    max-height: 12vh;
    max-width: 100vw;
    background-color: aliceblue;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    padding: 5px;
    
    margin: 0px;
}


} */